@page "/landing/landing-press"
@inject IJSRuntime JS
@layout MainLayoutDark

<PageTitle>Landing Press</PageTitle>
  
<section class="bg-light py-5">
                        <div class="container px-5">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Featured Story</h6>
                                <div>
                                    <a class="text-arrow-icon small" href="#!">
                                        More headlines
                                        <i data-feather="arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <hr class="mb-4" />
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <div class="col-lg-6 p-5">
                                            <a class="badge badge-marketing bg-primary-soft rounded-pill text-primary mb-3" href="#!">Web</a>
                                            <a class="text-dark" href="#!"><h1>News companies post headline about creating new websites with powerful UI kits</h1></a>
                                            <p>When creating and developing startups, using a UI kit to bootstrap your companies website can be an extremely efficient way to save time, money, and runway.</p>
                                            <a class="text-arrow-icon small" href="#!">
                                                Read more
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 align-self-stretch bg-img-cover d-none d-lg-flex" style="background-image: url('https://source.unsplash.com/npxXWgQ33ZQ/1200x800')"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Top Stories</h6>
                                <div>
                                    <a class="text-arrow-icon small" href="#!">
                                        View more
                                        <i data-feather="arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <hr class="mb-4" />
                            <div class="row gx-5">
                                <div class="col-lg-7 col-xl-8">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <a class="text-dark" href="#!"><h5 class="mt-0">Is the Bootstrap framework the best way to build a mobile responsive website?</h5></a>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                            <a class="text-arrow-icon small" href="#!">
                                                Read more
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="flex-shrink-0 ms-4"><img class="align-self-start rounded shadow media-img" src="https://source.unsplash.com/4hbJ-eymZ1o/160x160" alt="..." /></div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <a class="text-dark" href="#!"><h5 class="mt-0">Is virtual reality the new UI? Exploring the use of virtual reality and 3D user interfaces for everyday products</h5></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellat possimus delectus odit vero! Accusantium, omnis! Amet reiciendis ex numquam. Minus corporis, tempore facere placeat repellat ipsum eaque similique neque.</p>
                                            <a class="text-arrow-icon small" href="#!">
                                                Read more
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="flex-shrink-0 ms-4"><img class="align-self-start rounded shadow media-img" src="https://source.unsplash.com/HI6gy-p-WBI/160x160" alt="..." /></div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <a class="text-dark" href="#!"><h5 class="mt-0">How cats can improve your workflow productivity</h5></a>
                                            <p>Quasi error voluptates, commodi enim voluptate, quisquam vitae temporibus asperiores velit vero aperiam culpa iste eius autem praesentium ducimus similique iusto dolorum.</p>
                                            <a class="text-arrow-icon small" href="#!">
                                                Read more
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="flex-shrink-0 ms-4"><img class="align-self-start rounded shadow media-img" src="https://source.unsplash.com/bN9FFTPlLjU/160x160" alt="..." /></div>
                                    </div>
                                    <hr class="my-4 d-lg-none" />
                                </div>
                                <div class="col-lg-5 col-xl-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6>Opinion</h6>
                                            <hr />
                                            <div class="d-flex mb-4">
                                                <div class="avatar avatar-lg"><img class="avatar-img" src="assets/img/illustrations/profiles/profile-1.png" /></div>
                                                <div class="ms-3">
                                                    <a class="text-dark" href="#!"><h6 class="mb-1">Bootstrap is the best CSS framework, hands down</h6></a>
                                                    <div class="small text-gray-500">
                                                        by
                                                        <a class="text-gray-500" href="#!">Valerie Luna</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-4">
                                                <div class="avatar avatar-lg"><img class="avatar-img" src="assets/img/illustrations/profiles/profile-2.png" /></div>
                                                <div class="ms-3">
                                                    <a class="text-dark" href="#!"><h6 class="mb-1">Bootstrap is the best CSS framework, hands down</h6></a>
                                                    <div class="small text-gray-500">
                                                        by
                                                        <a class="text-gray-500" href="#!">Ewan Rogers</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-4">
                                                <div class="avatar avatar-lg"><img class="avatar-img" src="assets/img/illustrations/profiles/profile-3.png" /></div>
                                                <div class="ms-3">
                                                    <a class="text-dark" href="#!"><h6 class="mb-1">Bootstrap is the best CSS framework, hands down</h6></a>
                                                    <div class="small text-gray-500">
                                                        by
                                                        <a class="text-gray-500" href="#!">Alicia Allen</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-4">
                                                <div class="avatar avatar-lg"><img class="avatar-img" src="assets/img/illustrations/profiles/profile-4.png" /></div>
                                                <div class="ms-3">
                                                    <a class="text-dark" href="#!"><h6 class="mb-1">Bootstrap is the best CSS framework, hands down</h6></a>
                                                    <div class="small text-gray-500">
                                                        by
                                                        <a class="text-gray-500" href="#!">Kolby Brock</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="avatar avatar-lg"><img class="avatar-img" src="assets/img/illustrations/profiles/profile-5.png" /></div>
                                                <div class="ms-3">
                                                    <a class="text-dark" href="#!"><h6 class="mb-1">Bootstrap is the best CSS framework, hands down</h6></a>
                                                    <div class="small text-gray-500">
                                                        by
                                                        <a class="text-gray-500" href="#!">William Cole</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="row gx-5 mb-5">
                                <div class="col-lg-4">
                                    <h6>Tech</h6>
                                    <hr class="my-4" />
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>Newest tech from 2020 that can improve our quality of life</h6>
                                        <p class="text-gray-600 small mb-4">New technology is always improving the way we live. This year, we've made some major advancements.</p>
                                    </a>
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>Robotics and the future of industry</h6>
                                        <p class="text-gray-600 small mb-4">Machining and tooling systems are improving everday with the help of modern robotics.</p>
                                    </a>
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>Artificial intelligence - should we be worried?</h6>
                                        <p class="text-gray-600 small mb-4">Ever since James Cameron's blockbuster, the discussion about whether AI is safe has been on our minds.</p>
                                    </a>
                                    <a class="text-arrow-icon small" href="#!">
                                        More from Tech
                                        <i data-feather="arrow-right"></i>
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <h6>Business</h6>
                                    <hr class="my-4" />
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>Cottage industries and the passion economy</h6>
                                        <p class="text-gray-600 small mb-4">An old turn of phase states that if you do what you love, you won't work a day in your life. In today's economy, some are pushing that concept to the limit.</p>
                                    </a>
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>Everybody love pizza!</h6>
                                        <p class="text-gray-600 small mb-4">Well, not everybody, but pizza companies are making major moves towards global expansion.</p>
                                    </a>
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>Tax season is here, and you can file for free</h6>
                                        <p class="text-gray-600 small mb-4">Before you go and pay to get your taxes filed, take a look at some of these free options!</p>
                                    </a>
                                    <a class="text-arrow-icon small" href="#!">
                                        More from Business
                                        <i data-feather="arrow-right"></i>
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <h6>Health</h6>
                                    <hr class="my-4" />
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>The carnivore diet, what the science says...</h6>
                                        <p class="text-gray-600 small mb-4">It's like having a meat lover's pizza without the bread, cheese, and sauce - but is it healthy?</p>
                                    </a>
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>High intensity workouts and their effect on blood pressure</h6>
                                        <p class="text-gray-600 small mb-4">Working out with more intensity for less time, is it worth the added exhaustion?</p>
                                    </a>
                                    <a class="text-dark mb-4" href="#!">
                                        <h6>An annual review of pathology and disease</h6>
                                        <p class="text-gray-600 small mb-4">This year's statistics are in, and the numbers have a lot to say.</p>
                                    </a>
                                    <a class="text-arrow-icon small" href="#!">
                                        More from Health
                                        <i data-feather="arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card mb-n5 z-1">
                                <div class="card-body p-5">
                                    <div class="row gx-5 align-items-center">
                                        <div class="col-lg-6">
                                            <h4>Get the latest news</h4>
                                            <p class="lead text-gray-500 mb-0">Stay in the loop with the latest stories and breaking headlines!</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group mb-2">
                                                <input class="form-control form-control-solid" type="text" placeholder="youremail@example.com" aria-label="Recipient's username" aria-describedby="button-addon2" />
                                                <button class="btn btn-primary" id="button-addon2" type="button">Sign up</button>
                                            </div>
                                            <div class="small text-gray-500">You can unsubscribe at any time.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
@code {
       protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
