@inherits LayoutComponentBase
@inject IJSRuntime JS
<PageTitle>SBUIKitBlazor</PageTitle>

<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Navbar-->
            <NavMenu></NavMenu>
            @Body
        </main>
    </div>
    <div id="layoutDefault_footer">
        <FooterDark></FooterDark>
    </div>
</div>

@code {
   
}