 <!-- Navbar-->
<nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
    <div class="container px-5">
        <a class="navbar-brand text-white" href="index.html">SB UI Kit Pro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-lg-5">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item dropdown dropdown-xl no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Landings
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up me-lg-n25 me-xl-n15" aria-labelledby="navbarDropdownDemos">
                        <div class="row g-0">
                            <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style="background-image: url('assets/img/backgrounds/bg-dropdown-xl.jpg')">
                                <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                    <div class="text-white text-center z-1">
                                        <div class="mb-3">Multipurpose landing pages for a variety of projects.</div>
                                        <a class="btn btn-white btn-sm text-primary fw-500" href="/">View All</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 p-lg-5">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h6 class="dropdown-header text-primary">Applications</h6>
                                        <a class="dropdown-item" href="/landing/landing-app-mobile">Mobile App</a>
                                        <a class="dropdown-item" href="/landing/landing-app-desktop">Desktop App</a>
                                        <div class="dropdown-divider border-0"></div>
                                        <h6 class="dropdown-header text-primary">Business</h6>
                                        <a class="dropdown-item" href="/landing/landing-multi-purpose">Multipurpose</a>
                                        <a class="dropdown-item" href="/landing/landing-agency">Agency</a>
                                        <a class="dropdown-item" href="/landing/landing-press">Press</a>
                                        <a class="dropdown-item" href="/landing/landing-directory">Directory</a>
                                        <a class="dropdown-item" href="/landing/landing-rental">Rental</a>
                                        <a class="dropdown-item" href="/landing/landing-real-estate">Real Estate</a>
                                        <a class="dropdown-item" href="/landing/landing-classified">Classifieds</a>
                                        <div class="dropdown-divider border-0"></div>
                                        <h6 class="dropdown-header text-primary">Lead Generation</h6>
                                        <a class="dropdown-item" href="/landing/landing-lead-capture">Lead Capture</a>
                                        <div class="dropdown-divider border-0 d-lg-none"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <h6 class="dropdown-header text-primary">Personal</h6>
                                        <a class="dropdown-item" href="/landing/landing-resume">Resume</a>
                                        <a class="dropdown-item" href="/landing/landing-portfolio">Portfolio</a>
                                        <div class="dropdown-divider border-0"></div>
                                        <h6 class="dropdown-header text-primary">Header Styles</h6>
                                        <a class="dropdown-item" href="/header/header-basic">Basic</a>
                                        <a class="dropdown-item" href="/header/header-basic-signup">Basic (Signup)</a>
                                        <a class="dropdown-item" href="/header/header-graphic">Graphic</a>
                                        <a class="dropdown-item" href="/header/header-graphic-signup">Graphic (Signup)</a>
                                        <a class="dropdown-item" href="/header/header-inner-page">Inner Page</a>
                                        <a class="dropdown-item" href="/header/header-nav-only">Nav Only</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-xl no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                        <div class="row g-0">
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Company</h6>
                                <a class="dropdown-item" href="/innerpage/page-basic">Basic Page</a>
                                <a class="dropdown-item" href="/innerpage/page-company-about">About</a>
                                <a class="dropdown-item" href="/innerpage/page-company-pricing">Pricing</a>
                                <a class="dropdown-item" href="/innerpage/page-company-contact">Contact</a>
                                <a class="dropdown-item" href="/innerpage/page-company-team">Team</a>
                                <a class="dropdown-item" href="/innerpage/page-company-terms">Terms</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Support</h6>
                                <a class="dropdown-item" href="/help/help-center">Help Center</a>
                                <a class="dropdown-item" href="/help/help-knowledgebase">Knowledgebase</a>
                                <a class="dropdown-item" href="/help/help-message-center">Message Center</a>
                                <a class="dropdown-item" href="/help/help-support-ticket">Support Ticket</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Careers</h6>
                                <a class="dropdown-item" href="/innerpage/page-career-overview">Careers List</a>
                                <a class="dropdown-item" href="/innerpage/page-career-listing">Position Details</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Blog</h6>
                                <a class="dropdown-item" href="/innerpage/page-blog-overview">Overview</a>
                                <a class="dropdown-item" href="/innerpage/page-blog-post">Post</a>
                                <a class="dropdown-item" href="/innerpage/page-blog-archive">Archive</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Portfolio</h6>
                                <a class="dropdown-item" href="/portfolio/portfolio-grid">Grid</a>
                                <a class="dropdown-item" href="/portfolio/portfolio-large-grid">Large Grid</a>
                                <a class="dropdown-item" href="/portfolio/portfolio-masonry">Masonry</a>
                                <a class="dropdown-item" href="/portfolio/portfolio-case-study">Case Study</a>
                                <a class="dropdown-item" href="/portfolio/portfolio-project">Project</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Error</h6>
                                <a class="dropdown-item" href="/error/error-400">400 Error</a>
                                <a class="dropdown-item" href="/error/error-401">401 Error</a>
                                <a class="dropdown-item" href="/error/error-404-1">404 Error (Option 1)</a>
                                <a class="dropdown-item" href="/error/error-404-2">404 Error (Option 2)</a>
                                <a class="dropdown-item" href="/error/error-500">500 Error</a>
                                <a class="dropdown-item" href="/error/error-503">503 Error</a>
                                <a class="dropdown-item" href="/error/error-504">504 Error</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Documentation
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart" target="_blank">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book-open"></i></div>
                            <div>
                                <div class="small text-gray-500">Documentation</div>
                                Usage instructions and reference
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/components" target="_blank">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="code"></i></div>
                            <div>
                                <div class="small text-gray-500">Components</div>
                                Code snippets and reference
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/changelog" target="_blank">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Changelog</div>
                                Updates and changes
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <a class="btn fw-500 ms-lg-4 btn-primary" href="https://shop.startbootstrap.com/sb-ui-kit-pro">
                Buy Now
                <i class="ms-2" data-feather="arrow-right"></i>
            </a>
        </div>
    </div>
</nav>