@page "/innerpage/page-blog-archive"
@inject IJSRuntime JS
@layout MainLayoutDark

<PageTitle>Page Blog Archive</PageTitle> 
<!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-60" style="background-image: url(https://source.unsplash.com/xZgvBXDB9wE/1600x900)">
                        <div class="page-header-ui-content position-relative">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Archive</h1>
                                        <p class="page-header-ui-text mb-0">Browse posts in the category 'UI'</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-10">
                                    <div class="post-archive-tag">Category 'UI'</div>
                                    <a class="post-archive-item" href="#!">
                                        <h5>Boots on the Ground, Inclusive Thought Provoking Ideas</h5>
                                        <p>Empower communities and energize engaging ideas; scale and impact do-gooders while disruptring industries. Venture philanthropy benefits corporations and people by moving the needle.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-1.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">Valerie Luna</div>
                                            <div class="post-archive-meta-details-date">Feb 5 &middot; 6 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <a class="post-archive-item" href="#!">
                                        <h5>Invest In Social Impact</h5>
                                        <p>Expose the truth, problem-solvers impact mobilized green spaces.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-2.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">Aariz Fischer</div>
                                            <div class="post-archive-meta-details-date">Feb 4 &middot; 5 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <a class="post-archive-item" href="#!">
                                        <h5>Save the World, Social Entrepreneur</h5>
                                        <p>Contextualize co-creation and do good while building your startup.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-3.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">Alicia Allen</div>
                                            <div class="post-archive-meta-details-date">Feb 3 &middot; 7 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <a class="post-archive-item" href="#!">
                                        <h5>Design Thinking Benefits Corporation Thought Leadership</h5>
                                        <p>Global changemakers, a state of play releives stress and creates inspirational work environments.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-4.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">Mahesh Kumar</div>
                                            <div class="post-archive-meta-details-date">Feb 1 &middot; 4 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <a class="post-archive-item" href="#!">
                                        <h5>Collaborative Consumption, Human-Centered Technology Thought Leader Systems</h5>
                                        <p>Milestones theory of change, an effective paradigm, exposes the truth and best practices to uplift equal opportunity.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-5.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">William Cole</div>
                                            <div class="post-archive-meta-details-date">Jan 30 &middot; 12 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <a class="post-archive-item" href="#!">
                                        <h5>Co-create, Empower - Moving the Needle on Investor Interests</h5>
                                        <p>Scalable efficient systems and thinking as a social entrepreneur creates a transparent, targeted vison.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-1.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">Valerie Luna</div>
                                            <div class="post-archive-meta-details-date">Jan 29 &middot; 4 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <a class="post-archive-item" href="#!">
                                        <h5>Inclusive Shared Units of Analysis</h5>
                                        <p>Commit to inspiring social capital, social capital inspires the body and the mind.</p>
                                    </a>
                                    <div class="post-archive-meta">
                                        <img class="post-archive-meta-img" src="assets/img/illustrations/profiles/profile-6.png" />
                                        <div class="post-archive-meta-details">
                                            <div class="post-archive-meta-details-name">Amy Love</div>
                                            <div class="post-archive-meta-details-date">Jan 25 &middot; 7 min read</div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-blog justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true">«</span></a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#!">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">12</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true">»</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
