@page "/innerpage/page-company-pricing"
@inject IJSRuntime JS
@layout MainLayoutDark

<PageTitle>Page Company Pricing</PageTitle>  
<!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Pricing</h1>
                                        <p class="page-header-ui-text">Our product, priced to fit your specific needs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="text-center mb-5">
                                <h2>Simple Pricing</h2>
                                <p class="lead">Easy pricing means no suprises.</p>
                            </div>
                            <div class="row gx-5">
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="card pricing h-100">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <div class="badge bg-light text-dark rounded-pill badge-marketing badge-sm">Free</div>
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    0
                                                    <span class="pricing-price-period">/mo</span>
                                                </div>
                                            </div>
                                            <ul class="fa-ul pricing-list">
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">1 user</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Community support</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Style customizer
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Custom components
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Expanded utilities
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Third-party integration
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Layout options
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="card pricing h-100">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <div class="badge bg-primary-soft rounded-pill badge-marketing badge-sm text-primary">Standard</div>
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    19
                                                    <span class="pricing-price-period">/mo</span>
                                                </div>
                                            </div>
                                            <ul class="fa-ul pricing-list">
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Up to 15 users</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Email and live chat support</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Style customizer</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Custom components</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Expanded utilities</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Third-party integration</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Layout options</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card pricing h-100">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <div class="badge bg-light text-dark rounded-pill badge-marketing badge-sm">Enterprise</div>
                                                <p class="card-text py-10">We offer discounts for larger organizations. Contact us to inquire about enterprise level plans!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 text-center"><a class="btn btn-primary fw-500" href="#!">Get Started</a></div>
                        </div>
                    </section>
                    <hr class="my-0" />
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="text-center mb-5">
                                <h2>One plan, no hassle</h2>
                                <p class="lead">Easy pricing means no suprises.</p>
                            </div>
                            <div class="row g-0 align-items-center">
                                <div class="col-lg-6 mb-5 mb-lg-0">
                                    <div class="card pricing">
                                        <div class="card-body p-5">
                                            <div class="badge bg-primary-soft rounded-pill badge-marketing badge-sm text-primary">Standard</div>
                                            <div class="pricing-price">
                                                <sup>$</sup>
                                                19
                                                <span class="pricing-price-period">/mo</span>
                                            </div>
                                            <ul class="fa-ul pricing-list">
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Up to 15 users</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Email and live chat support</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Style customizer</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Custom components</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Expanded utilities</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Third-party integration</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Layout options</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-footer px-5">
                                            <a class="d-flex align-items-center justify-content-between" href="#!">
                                                Get Started!
                                                <i class="fas fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card pricing pricing-right bg-gray-800">
                                        <div class="card-body p-5">
                                            <div class="badge bg-transparent-light badge-marketing rounded-pill badge-sm">Customized</div>
                                            <p class="card-text py-5">Need a customized plan? Contact us directly and we can work with you to craft a plan that fits your company's specific needs.</p>
                                        </div>
                                        <div class="card-footer bg-gray-900 px-5">
                                            <a class="text-white-50 d-flex align-items-center justify-content-between" href="#!">
                                                Contact Sales
                                                <i class="fas fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr class="my-0" />
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="text-center mb-5">
                                <h2>Simple Pricing</h2>
                                <p class="lead">Easy pricing means no suprises.</p>
                            </div>
                            <div class="row g-0 align-items-center">
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="card pricing pricing-left">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <div class="badge bg-light text-dark rounded-pill badge-marketing badge-sm">Free</div>
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    0
                                                    <span class="pricing-price-period">/mo</span>
                                                </div>
                                            </div>
                                            <ul class="fa-ul pricing-list">
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">1 user</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Community support</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Style customizer
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Custom components
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Expanded utilities
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Third-party integration
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Layout options
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="card pricing py-4 z-1">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <div class="badge bg-primary-soft rounded-pill badge-marketing badge-sm text-primary">Standard</div>
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    19
                                                    <span class="pricing-price-period">/mo</span>
                                                </div>
                                            </div>
                                            <ul class="fa-ul pricing-list">
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Up to 15 users</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Email and live chat support</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Style customizer</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Custom components</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Expanded utilities
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Third-party integration
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-circle text-gray-200"></i></span>
                                                    Layout options
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="card pricing pricing-right">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <div class="badge bg-secondary-soft rounded-pill badge-marketing badge-sm text-secondary">Premium</div>
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    29
                                                    <span class="pricing-price-period">/mo</span>
                                                </div>
                                            </div>
                                            <ul class="fa-ul pricing-list">
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Unlimited users</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Email and live chat support</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Style customizer</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Custom components</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Expanded utilities</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Third-party integration</span>
                                                </li>
                                                <li class="pricing-list-item">
                                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span>
                                                    <span class="text-dark">Layout options</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 text-center"><a class="btn btn-primary fw-500" href="#!">Get Started</a></div>
                        </div>
                    </section>
                    <hr class="my-0" />
                    <section class="bg-light pt-10">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center mb-10">
                                <div class="col-lg-6">
                                    <div class="h4 fw-normal">Ready to get started?</div>
                                    <p class="lead mb-0 text-gray-500">Get in touch or create an account.</p>
                                </div>
                                <div class="col-lg-6 text-lg-end">
                                    <a class="btn btn-primary fw-500 me-3 my-2" href="#!">Contact Sales</a>
                                    <a class="btn btn-white fw-500 shadow my-2" href="#!">Create Account</a>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-lg-6 z-1 mb-5 mb-lg-n5">
                                    <a class="card text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-stack icon-stack-xl bg-primary text-white flex-shrink-0"><i data-feather="activity"></i></div>
                                                <div class="ms-4">
                                                    <h5 class="text-primary">Work smarter, not harder</h5>
                                                    <p class="card-text text-gray-600">Learn more about how our product can save you time and effort in the long run!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 z-1 mb-10 mb-lg-n5">
                                    <a class="card text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-stack icon-stack-xl bg-secondary text-white flex-shrink-0"><i data-feather="code"></i></div>
                                                <div class="ms-4">
                                                    <h5 class="text-secondary">Built for developers</h5>
                                                    <p class="card-text text-gray-600">Our components, utilities, and layouts are built with developers in mind.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-waves text-dark">
                            <!-- Wave SVG Border-->
                            <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
                                <defs>
                                    <style>
                                        .a {
                                            fill: none;
                                        }
                                        .b {
                                            clip-path: url(#a);
                                        }
                                        .d {
                                            opacity: 0.5;
                                            isolation: isolate;
                                        }
                                    </style>
                                </defs>
                                <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
                                <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
                                <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
                                <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
                                <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
                            </svg>
                        </div>
                    </section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
