@page "/help/help-support-ticket"
@inject IJSRuntime JS
@layout MainLayoutDark

<PageTitle>Page Help Support Ticket</PageTitle> 
<section class="bg-light pt-15 pb-10">
                        <div class="container px-5">
                            <div class="row gx-5">
                                <div class="col-lg-4 col-xl-3 mb-5">
                                    <div class="card">
                                        <div class="list-group list-group-flush small">
                                            <a class="list-group-item list-group-item-action p-3" href="#!">
                                                <i class="fas fa-plus fa-fw me-2 text-gray-400"></i>
                                                Make New Ticket
                                            </a>
                                            <a class="list-group-item list-group-item-action p-3" href="#!">
                                                <i class="fas fa-file-alt fa-fw me-2 text-gray-400"></i>
                                                View Open Tickets
                                            </a>
                                            <a class="list-group-item list-group-item-action p-3" href="#!">
                                                <i class="fas fa-archive fa-fw me-2 text-gray-400"></i>
                                                View Closed Tickets
                                            </a>
                                            <a class="list-group-item list-group-item-action p-3" href="#!">
                                                <i class="fas fa-star fa-fw me-2 text-gray-400"></i>
                                                View Starred Tickets
                                            </a>
                                            <a class="list-group-item list-group-item-action p-3" href="#!">
                                                <i class="far fa-handshake fa-fw me-2 text-gray-400"></i>
                                                Managed Services
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-9">
                                    <div class="d-flex align-items-center justify-content-between flex-column flex-md-row">
                                        <h2 class="mb-0">Case #290225</h2>
                                        <div class="h5"><span class="badge bg-warning-soft text-warning fw-normal">Awaiting Response</span></div>
                                    </div>
                                    <hr class="mb-4" />
                                    <div class="card mb-5">
                                        <div class="card-header d-flex justify-content-between">
                                            <div class="me-2 text-dark">
                                                Richard S.
                                                <div class="text-xs text-muted">November 19, 2020 at 11:31 PM</div>
                                            </div>
                                            <a href="#!">#290225</a>
                                        </div>
                                        <div class="card-body">
                                            <p>Hello,</p>
                                            <p>We hope you are well.</p>
                                            <p>We have found an email account on your server to be sending out spam, we have changed the email password to the following:</p>
                                            <pre>we823#d*LKe2dD29!d</pre>
                                            <p>We are removing the malicious spam messages from the mail queue. Please be aware, mail service may be temporarily disabled in order for us to finish this process. We apologize for any inconvenience this may cause.</p>
                                            <p class="mb-0">If you have any questions don't hesitate to contact us.</p>
                                            <hr />
                                            <p class="mb-0 small">
                                                Richard S.
                                                <br />
                                                Abuse Response Analyst
                                                <br />
                                                <a href="#!">https://www.example.com/support</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">Add Reply</div>
                                        <div class="card-body">
                                            <textarea class="form-control mb-2" rows="4"></textarea>
                                            <button class="btn btn-primary btn-sm me-2">Add Reply</button>
                                            <button class="btn btn-light btn-sm me-2">
                                                <i class="fas fa-paperclip me-2"></i>
                                                Attach a File
                                            </button>
                                            <button class="btn btn-light btn-sm">
                                                <i class="fas fa-archive me-2"></i>
                                                Mark as Resolved
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
