@page "/portfolio/portfolio-case-study"
@inject IJSRuntime JS
@layout MainLayoutDark

<PageTitle>Page Portfolio Case Study</PageTitle> 
<!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-img-cover py-15" style="background-image: url('https://source.unsplash.com/RKwaj2g6OOU/1500x900')">
                        <div class="my-15 py-lg-10"></div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8">
                                    <h1>Curology</h1>
                                    <p class="lead">A case study focused on building brand standards and creating effective advertising campaigns</p>
                                    <hr />
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quis voluptas amet accusamus temporibus corporis quia asperiores magni laudantium dolore iusto, adipisci rem id ratione repellat! Fuga esse molestias accusamus!</p>
                                    <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet error pariatur voluptatibus consequuntur natus unde porro, soluta quisquam facere, deserunt repellat iusto odit labore doloremque velit qui mollitia quo numquam.</p>
                                </div>
                                <div class="col-lg-10"><img class="img-fluid rounded-3 shadow my-5" src="https://source.unsplash.com/DGH1u80sZik/1200x900" alt="..." /></div>
                                <div class="col-lg-8">
                                    <h4>Building Brand Awareness</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a, iusto ratione minus labore illum sequi optio recusandae perferendis, et beatae corrupti! Nemo aut inventore maxime eligendi optio cupiditate et.</p>
                                    <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius cupiditate similique officia aperiam adipisci reprehenderit veniam voluptate eum fugit voluptatem, aspernatur minus dolorum nemo impedit odit sit odio consectetur!</p>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row gx-5">
                                        <div class="col-md-6">
                                            <img class="img-fluid rounded-3 mb-5" src="https://source.unsplash.com/ZIihTgf5uGg/800x700" alt="..." />
                                            <img class="img-fluid rounded-3 mb-5" src="https://source.unsplash.com/Eu_jPNRNub8/800x900" alt="..." />
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-fluid rounded-3 mb-5" src="https://source.unsplash.com/VItxz6u036U/800x900" alt="..." />
                                            <img class="img-fluid rounded-3 mb-5" src="https://source.unsplash.com/E_dRKdBhxk4/800x700" alt="..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card bg-primary-soft text-primary text-center shadow-none mb-5">
                                        <div class="card-body"><p class="card-text lead">"Working with this agency helped us boost sales and raise brand awareness across all of our product lines."</p></div>
                                    </div>
                                    <h4>Benchmarks &amp; Performance Metrics</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa provident hic quaerat. Accusamus quidem quos fugit a aspernatur, magni obcaecati tenetur similique eaque, sequi id alias veritatis eius, maiores animi.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A neque ut reiciendis suscipit animi quaerat, est, repellat unde distinctio hic sapiente asperiores perspiciatis id! Quasi eveniet cupiditate quisquam. Itaque, esse.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis odio modi optio sapiente neque saepe, facere culpa, doloribus voluptatem nemo quam, cumque fugiat qui excepturi. Nostrum, error. Impedit, quis!</p>
                                    <ul class="fa-ul">
                                        <li class="mb-3">
                                            <span class="fa-li"></span>
                                            <i class="fas fa-check me-2 text-green"></i>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li"></span>
                                            <i class="fas fa-check me-2 text-green"></i>
                                            Quidem dicta iste maiores eligendi numquam nam voluptas quia nisi consequatur illo neque sunt error doloremque vel.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li"></span>
                                            <i class="fas fa-check me-2 text-green"></i>
                                            Animi aliquam dolores suscipit saepe ratione corrupti veniam.
                                        </li>
                                        <li>
                                            <span class="fa-li"></span>
                                            <i class="fas fa-check me-2 text-green"></i>
                                            Molestiae minima aliquam consequatur eius ab dignissimos at maxime odit culpa excepturi vero magnam vitae ipsa! Ducimus.
                                        </li>
                                    </ul>
                                    <hr class="my-5" />
                                    <div class="text-center"><a class="btn btn-transparent-dark fw-500" href="#!">Go Back</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
