@page "/portfolio/portfolio-masonry"
@inject IJSRuntime JS
@layout MainLayoutDark

<PageTitle>Page Portfolio Masonry</PageTitle>  
<!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Our work</h1>
                                        <p class="page-header-ui-text mb-0">A showcase of project's we've worked on in the past year</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5">
                                <div class="col-md-4">
                                    <a class="card card-portfolio mb-5" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/jWQj5Wjepuk/400x300" alt="..." />
                                        <div class="card-body"><div class="card-title">Book</div></div>
                                    </a>
                                    <a class="card card-portfolio mb-5" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/Ecnx13MEPK0/400x500" alt="..." />
                                        <div class="card-body"><div class="card-title">Flower Mug</div></div>
                                    </a>
                                    <a class="card card-portfolio mb-5 mb-md-0" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/eUCy1jb_B7I/400x400" alt="..." />
                                        <div class="card-body"><div class="card-title">Cactus Display</div></div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="card card-portfolio mb-5" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/cuTcfqsES6o/400x500" alt="..." />
                                        <div class="card-body"><div class="card-title">Reading</div></div>
                                    </a>
                                    <a class="card card-portfolio mb-5" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/jipR1oTCO7U/400x400" alt="..." />
                                        <div class="card-body"><div class="card-title">White Book</div></div>
                                    </a>
                                    <a class="card card-portfolio mb-5 mb-md-0" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/n3sqjJzZiBM/400x300" alt="..." />
                                        <div class="card-body"><div class="card-title">Photo Face</div></div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="card card-portfolio mb-5" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/Zr7MxECDTQ8/400x300" alt="..." />
                                        <div class="card-body"><div class="card-title">Catalog</div></div>
                                    </a>
                                    <a class="card card-portfolio mb-5" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/QcyenJDqDzw/400x500" alt="..." />
                                        <div class="card-body"><div class="card-title">Notebook</div></div>
                                    </a>
                                    <a class="card card-portfolio mb-5 mb-md-0" href="#!">
                                        <img class="card-img-top" src="https://source.unsplash.com/TIutDBFEtcY/400x400" alt="..." />
                                        <div class="card-body"><div class="card-title">Book Stand</div></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-xl-6 col-lg-8 col-md-10 text-center py-5">
                                    <h2>Ready to get Started?</h2>
                                    <p class="lead text-gray-500 mb-5">We'd love to hear from you about your branding and digital needs. We are currently accepting new clients.</p>
                                    <a class="btn btn-primary fw-500" href="#!">Contact us</a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
