@page "/"

<PageTitle>Demo SB UI Kit Blazor</PageTitle>
<!-- Page Header-->
                    <header class="page-header-ui page-header-ui-light bg-white">
                        <div class="page-header-ui-content pt-5">
                            <div class="container px-5">
                                <div class="row gx-5 align-items-center">
                                    <div class="col-lg-6" data-aos="fade-up">
                                        <h1 class="page-header-ui-title">Build your next project faster with SB UI Kit Pro</h1>
                                        <p class="page-header-ui-text mb-5">Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap.</p>
                                        <div class="d-flex flex-column flex-sm-row">
                                            <a class="btn btn-lg btn-primary fw-500 me-sm-3 mb-3 mb-sm-0" href="#explore">
                                                Explore Pages
                                                <i class="ms-2" data-feather="arrow-right"></i>
                                            </a>
                                            <a class="btn btn-lg btn-primary-soft text-primary fw-500" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart" target="_blank">Documentation</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="100"><img class="img-fluid" src="assets/img/illustrations/programming.svg" alt="..." /></div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10" id="explore">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center mb-10">
                                        <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">12 Demos!</div>
                                        <h2>Landing Pages</h2>
                                        <p class="lead">After purchasing SB UI Kit Pro, you will gain access to these professionally coded, pre-built landing page templates!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5 text-center">
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 1 - Multipurpose</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-multi-purpose"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-multipurpose.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 2 - Mobile App</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-app-mobile"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-app-mobile.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 3 - Desktop App</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-app-desktop"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-app-desktop.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 4 - Agency</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-agency"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-agency.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 5 - Lead Capture</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-lead-capture"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-lead-capture.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 6 - Press</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-press"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-press.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 7 - Directory</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-directory"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-directory.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 8 - Rental</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-rental"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-rental.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 9 - Real Estate</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-real-estate"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-real-estate.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 10 - Classifieds</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-classified"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-classifieds.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 11 - Resume</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-resume"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-resume.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 12 - Portfolio</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/landing/landing-portfolio"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center mb-10">
                                        <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">19 Pages!</div>
                                        <h2>Inner Pages</h2>
                                        <p class="lead">SB UI Kit Pro also includes these pre-built inner page templates to help streamline the development of your website even further!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Company Pages</h6>
                                    <div class="list-group small shadow mb-5">
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-basic">
                                            Basic Page
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-company-about">
                                            About Page
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-company-pricing">
                                            Pricing Page
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-company-contact">
                                            Contact Page
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-company-terms">
                                            Terms Page
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                    </div>
                                    <h6 class="mb-3">Careers Pages</h6>
                                    <div class="list-group small shadow">
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-career-overview">
                                            Careers List
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-career-listing">
                                            Position Details
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Support Pages</h6>
                                    <div class="list-group small shadow mb-5">
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/help/help-center">
                                            Help Center
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/help/help-knowledgebase">
                                            Knowledgebase
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/help/help-message-center">
                                            Message Center
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/help/help-support-ticket">
                                            Support Ticket
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                    </div>
                                    <h6 class="mb-3">Blog Pages</h6>
                                    <div class="list-group small shadow">
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-blog-overview">
                                            Overview
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-blog-post">
                                            Post
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/innerpage/page-blog-archive">
                                            Archive
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Portfolio Pages</h6>
                                    <div class="list-group small shadow">
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/portfolio/portfolio-grid">
                                            Grid
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/portfolio/portfolio-large-grid">
                                            Large Grid
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/portfolio/portfolio-masonry">
                                            Masonry
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/portfolio/portfolio-case-study">
                                            Case Study
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                        <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between p-3" href="/portfolio/portfolio-project">
                                            Project
                                            <i class="fas fa-arrow-right fa-xs text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center mb-10">
                                        <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">Customizable!</div>
                                        <h2>Header Examples</h2>
                                        <p class="lead">You will also get these customizable header examples for creating even more landing pages and inner pages to add to your project!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5 text-center">
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 1 - Basic</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/header/header-basic"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-basic.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 2 - Basic (Signup)</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/header/header-basic-signup"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-basic-signup.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 3 - Graphic</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/header/header-graphic"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-graphic.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 4 - Graphic (Signup)</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/header/header-graphic-signup"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-graphic-signup.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 5 - Inner Page</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/header/header-inner-page"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-inner-page.png" /></a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Demo 6 - Nav Only</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="/header/header-nav-only"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-nav-only.png" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center mb-10">
                                        <h2>Documentation</h2>
                                        <p class="lead">Our professional documentation includes usage instructions and other tips to help guide your development process as you build your project.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-lg-4 text-center mb-5">
                                    <div class="display-1 fw-700 text-gray-400">70+</div>
                                    <div class="h5">Custom/Extended Components</div>
                                    <p>We've extended and restyled Bootstrap's default components to create a this beautifully designed UI Toolkit.</p>
                                </div>
                                <div class="col-lg-4 text-center mb-5">
                                    <div class="display-1 fw-700 text-gray-400">35+</div>
                                    <div class="h5">Pre-Built Page Examples</div>
                                    <p>Pre-built page templates will save you hours of development time, allowing you to launch your project faster.</p>
                                </div>
                                <div class="col-lg-4 text-center mb-5">
                                    <div class="display-1 fw-700 text-gray-400">100+</div>
                                    <div class="h5">Custom/Extended Utilites</div>
                                    <p>Extended and new utility classes will give you even more control over your content with minimal custom CSS.</p>
                                </div>
                            </div>
                            <div class="text-center"><a class="btn btn-primary fw-500" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart">View Documentation</a></div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>