@page "/error/error-403"
@inject IJSRuntime JS
@layout MainLayoutCombine
<PageTitle>Page Error 403</PageTitle>  
<section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center mt-4">
                                        <img class="img-fluid p-4" src="assets/img/illustrations/403-error-forbidden.svg" alt="..." />
                                        <p class="lead">Your client does not have permission to get this page from the server.</p>
                                        <a class="text-arrow-icon" href="/">
                                            <i class="ms-0 me-1" data-feather="arrow-left"></i>
                                            Return Home
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("LoadFeather");
        }
    }
}
